#contactcontainer{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    padding-top: 10rem;
    h1{
        font-size: 4.5rem;
        margin: 0;
    }
    p{
        padding: 0;
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.2rem;
    }
}

#contactbutton{
    padding: 0.7rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgb(65, 208, 40);
    color: white;
    font-weight: 600;
    transition: 0.5s;
    &:hover{
        cursor: pointer;
        background-color: rgb(36, 172, 12);
    }
}