.navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-bottom: 0.5px solid rgb(205, 205, 205);
    position: fixed;
    width: 100%;
    z-index: 1;
    .nav-item{
        a{
            color: black;
        }
        a:hover{
            cursor: pointer;
            color: rgb(133, 133, 133);
        }
    }
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    gap: 1rem;
}

.nav-brand{
    padding-left: 4rem;
    display: inline;
    float: left;
    a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        text-align: center;
        display: block;
        font-size: 1.2rem;
        font-weight: 650;
    }
}

.nav-item{
    display: inline;
    flex-grow: 1;
    flex-basis: 0;
    // Styling anchor tag within any nav item
    a{
        float: left;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: 500;
        display: block;
        padding: 1.3rem 1.3rem;
    }
}