.navbar{
    display: flex;
    background-color: white;
    border-bottom: 0.5px solid rgb(205, 205, 205);
    width: 100%;
    align-items: center;
    .nav-item{
        a{
            color: black;
        }
        a:hover{
            cursor: pointer;
            color: rgb(106, 161, 9)
        }
    }
}

.nav{
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-brand{
    display: inline;
    float: left;
    padding-left: 4rem;
    a{
        display: flex;
        text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 650;
    }
}

.nav-item{
    // Styling anchor tag within any nav item
        a{
            text-decoration: none;
            font-size: 1rem;
            font-weight: 500;
            display: block;
            padding: 1.3rem 1.3rem;
        }
}

.nav-social{
    a{
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        display: block;
        padding: 1.3rem 1.3rem; 

    }
}

@media only screen and (min-width: 601px){
    .nav-item{
        a{
            float: left;
        }
       display: inline;
    }
    .nav-social{
        a{
            float: right;
        }
    }
    .navbar{
        position: fixed;
        z-index: 1;
    }
    .nav{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .nav-brand{
        padding: 0rem 1rem; 
        text-align: center;
    }
    .nav{
        text-align: center;
        order: 2;
    }
    .nav-iteM{
        flex-direction: column;
        text-align: center;
        a{
            padding: 1rem 1rem;
        }
    }
}