#titlecontainer {
  display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
  height: 70vh;
  padding-top: 25vh;

  @media only screen and (max-width: 1121px) {
    justify-content: center;
    margin-left: 0;
    padding-top: 10vh;
    height: 85vh;
  }
}

#title {
  color: rgb(24, 30, 26);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media only screen and (max-width: 600px) {
    padding-top: 5rem;
  }

  .title-static,
  #typewriter-line {
    font-size: 6rem;
    margin: 0;
    padding: 0;

    @media only screen and (max-width: 1121px) {
      text-align: center;
      font-size: 5rem;
      width: 100%;
    }

    @media only screen and (max-width: 600px) {
      font-size: 4rem;
    }
  }

  p {
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0.2rem;
    max-width: fit-content;

    @media only screen and (max-width: 1121px) {
      text-align: center;
      font-weight: 500;
      font-size: 1.4rem;
      max-width: 90vw;
    }

    @media only screen and (max-width: 600px) {
      font-size: 1.2rem;
    }
  }
}

.text-gradient {
  background: linear-gradient(90deg, #8ef000, #53a907);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

.cursor {
  display: inline-block;
  margin-left: 4px;
  color: #333;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
