#title{
    padding-top: 20vh;
    h1{
        text-align: center; 
        font-size: 5rem; 
        display: flex; 
        flex-direction: row; 
        gap: 1rem; 
        padding: 0;
        margin: 0;
    }
    p{
        text-align: center; 
        font-weight: 500; 
        font-size: 1.5rem;
        padding: 0.2rem;
    }
}