#workcontainer{
    margin-left: 3rem;
    margin-bottom: 20rem;
    margin-top: 10rem;
    h1{
        font-size: 4.5rem;
        margin: 0;
    } 
    p{
        padding: 0;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.25rem;
        font-weight:  500;
    }
}