// sass --watch ./src/main.scss ./docs/main.css

@import "components/navbar";
@import "components/buttons";
@import "components/title";
@import "components/contact";
@import "components/projects";
@import "components/footer";
@import "components/about";
@import "components/work";
@import "components/specialties";


html, body{
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#bottomcontainer{
  padding-bottom: 10rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}